#landing-section {
  height: 100vh;
  background-image: url(../assets/outwork-gym/002.png);
  opacity: 4;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* ENDS */

#choose-plan-section {
  background-color: var(--black);
}

.choose-plan-item {
  height: 500px;
  width: 80%;
}

.classes-cards:nth-child(1) {
  transition-delay: 200ms;
}

.classes-cards:nth-child(3) {
  transition-delay: 400ms;
}

#facilities-section {
  background-color: var(--green);
}

.photo-grid {
  display: grid;
  gap: 2rem;

  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: 240px;
}

.photo-tall {
  grid-row: span 2 / auto;
}

.photo-wide {
  grid-column: span 2 / auto;
}

.facilities-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 3ms;
}


.facilities-content {
  height: 600px;
}

#join-us-section {
}


.join-us-section-card {
    transition: all 3ms;
    box-shadow: 0 0 100px -10px var(--black);
}

.join-us-section-card:hover {
    transform: translateY(-25px);
}

.join-us-section-img {
  height: 300px;
  width: 300px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#contact-us-section {

}

.contact-us-options-content {
    width: 80%;
}

#footer-section {
    height: 300px;

}

@media (max-width: 460px) {
  .photo-grid {
    display: grid;
    gap: 1rem;
  
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 200px;
  }
  
  .choose-plan-item {
    height: 340px;
  }
 
}