/* SETUP */
:root {
  --black: #000000;
  --white: #ffffff;
  --green: #dcfa08;
  --blue: #b2dfe6;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--black);
  color: var(--white);

  overflow-x: hidden;
}

h1 {
  font-size: 6rem;
  font-weight: bold;

  color: var(--white);
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 5rem;
  font-weight: bold;

  color: var(--white);
  padding: 0;
  margin: 0;
}

h3 {
  font-size: 2.5rem;
  font-weight: bold;

  color: var(--white);
  padding: 0;
  margin: 0;
}

h4 {
  font-size: 1.5rem;
  font-weight: bold;

  color: var(--white);
  padding: 0;
  margin: 0;
}

p {
  font-size: 1.15rem;
  font-weight: bold;

  color: var(--white);
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

input {
  text-align: center;

  width: 300px;
  padding: 12px;
  color: var(--white);
  background-color: var(--black);
  border: 2px solid gray;
}

input:focus {
  border: none;
  outline: 2px solid var(--green);
}

input::placeholder {
  text-align: center;
}

textarea {
  text-align: center;

  width: 300px;
  padding: 12px;
  color: var(--white);
  background-color: var(--black);
  border: none;
}

textarea:focus {
  border: none;
  outline: 2px solid var(--green);
}

textarea::placeholder {
  text-align: center;
}

@media (max-width: 400px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }
}

.whatsapp-button {
  height: 68px;
  width: 68px;
  position: fixed;
  z-index: 100;
  bottom: 20px;
  right: 20px;
  background-color: var(--green);
  color: var(--black);
  border-radius: 50%;
  padding: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

.whatsapp-button:hover {
  height: 90px;
  width: 90px;
  bottom: 0px;
  right: 0px;
  border-radius: 50% 0 0 0;
}

/* UTILITY CLASSES */

.text-invert-color {
  color: var(--black);
}

.h-inherit {
  height: inherit;
}

.w-inherit {
  width: inherit;
}

.te-bg-white {
  background-color: var(--white);
}

.te-bg-black {
  background-color: var(--black);
}

.te-bg-green {
  background-color: var(--green);
}

.te-bg-gradient {
  background-image: url(../assets/backgrounds/001.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.te-bg-gradient-blue {
  background-image: url(../assets/backgrounds/003.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* UI CLASSES */

input[type="radio"] + label {
  padding: 10px 20px;
  border: 2px solid transparent;
  border-radius: 20px;
  cursor: pointer;
}

input[type="radio"]:checked + label {
  color: gray;
}

.btn-green {
  background-color: var(--green);
  border: none;
  border-radius: 0.5px;
}

.btn-green-outline {
  outline: var(--green) solid 8px;
  border: none;
  background-color: transparent;
  border-radius: 0.5px;
  transition: all 3ms;
}

.btn-green:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px 2px var(--green);
}

.btn-black {
  background-color: var(--black);
  border: none;
  border-radius: 0.5px;
}

.btn-black-outline {
  outline: var(--black) solid 8px;
  border: none;
  background-color: transparent;
  border-radius: 0.5px;
  transition: all 3ms;
}

.btn-black:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px 2px var(--black);
}

.btn-blue {
  background-color: var(--blue);
  border: none;
  border-radius: 0.5px;
}

.btn-blue-outline {
  outline: var(--blue) solid 8px;
  border: none;
  background-color: transparent;
  border-radius: 0.5px;
  transition: all 3ms;
}

.btn-blue:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px 2px var(--blue);
}

.btn-transparent {
  background-color: transparent;
  border: none;
  border-radius: 0.5px;
}

.btn-transparent-outline {
  outline: transparent solid 8px;
  border: none;
  background-color: transparent;
  border-radius: 0.5px;
  transition: all 3ms;
}

.btn-transparent p {
  opacity: 0.85;
}

.btn-transparent:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px 2px transparent;
}

.menu-mobile-button {
  background-color: transparent;
  color: var(--white);
  border: none;
}

/* GENERAL UI */

/* Nav Bar */
#nav-bar {
  position: fixed;
  z-index: 100000;
  width: 100%;
  background-color: transparent;
  transition: all 0.3s ease;
  height: 80px;
}

#nav-bar.scrolled {
  background-color: var(--black);
}

#nav-bar div div div img {
  height: 50px;
}

.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--black);
  z-index: 9999;
}

.mobile-menu.show {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mobile-menu a,
.mobile-menu button {
  margin-bottom: 10px;
}

/* Animations */
.from-top {
  transform: translateY(-100%);
}

.from-right {
  transform: translateX(-100%);
}

.from-bottom {
  transform: translateY(100%);
}

.from-left {
  transform: translateX(100%);
}

.hidden {
  opacity: 0%;
  filter: blur(5px);
  transition: all 0.5s;
}

.show {
  filter: blur(0px);
  opacity: 100%;
  transform: translateY(0);
  transform: translateX(0);
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

/* MISC */

.moving-stripe-container {
  transition: all 800ms;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0 0 100px 30px var(--black);
  position: fixed;
  top: 37.5%;
  left: 0;
  width: 100%;
  height: 25%;
  background-color: var(--green);
  color: var(--green);
  z-index: 10000;
}

.moving-stripe-container:hover {
  position: fixed;
  top: 0%;
  left: 0;
  height: 100%;
  background-color: var(--black);
}

.moving-stripe-container:hover > p {
  color: var(--green);
}

.moving-stripe-text {
  font-size: 96px;
  color: var(--black);
  white-space: nowrap;
  letter-spacing: 1px;
  padding: 0 5rem;
  animation: moving-stripe 2200ms linear infinite;
}

.show-after-delay {
  animation: fadeIn 1s ease-in-out 2s forwards; /* 2s delay */
  opacity: 0; /* Initially hide the element */
}

@keyframes moving-stripe {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.form-row {
  background: var(--black);
  color: black;
  border-radius: 50px;
  height: 40px;
  margin: 10px;
  overflow: hidden;
  position: relative;
  width: 150px;
}

.form-input {
  -webkit-appearance: none;
  appearance: none;
}

.form-input::before {
  content: "";
  cursor: pointer;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.form-input:checked::before {
  background-color: var(--green);
}

.form-input::after {
  content: "";
  cursor: pointer;
  height: 15px;
  border-radius: 50px;
  border: 4px solid var(--green);
  left: 10%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 15px;
}

.form-input:checked::after {
  border: 4px solid var(--black);
}

.form-label {
  color: var(--white);
  font-size: 1.1rem;
  margin-left: 10px;
  z-index: 1;
}

.form-input:checked ~ .form-label {
  color: var(--black);
}
