/* SETUP */
:root {
  --black: #000000;
  --white: #ffffff;
  --green: #dcfa08;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--black);
  color: white;

  overflow-x: hidden;
}

h1 {
  font-size: 6rem;
  font-weight: bold;

  color: var(--white);
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 5rem;
  font-weight: bold;

  color: var(--white);
  padding: 0;
  margin: 0;
}

h3 {
  font-size: 2.5rem;
  font-weight: bold;

  color: var(--white);
  padding: 0;
  margin: 0;
}

p {
  font-size: 1.15rem;
  font-weight: bold;

  color: var(--white);
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

input {
  text-align: center;

  width: 300px;
  padding: 12px;
  color: var(--white);
  background-color: var(--black);
  border: 2px solid gray;
}

input:focus {
  border: none;
  outline: 2px solid var(--green);
}

input::placeholder {
  text-align: center;
}



@media (max-width: 400px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }
}

/* UTILITY CLASSES */

.text-invert-color {
  color: var(--black);
}

.h-inherit {
  height: inherit;
}

.te-bg-white {
  background-color: var(--white);
}

.te-bg-black {
  background-color: var(--black);
}

.te-bg-green {
  background-color: var(--green);
}

.te-bg-gradient {
  background-image: url(../assets/backgrounds/001.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* UI CLASSES */

.btn-green {
  background-color: var(--green);
  border: none;
  border-radius: 0.5px;
}

.btn-green-outline {
  outline: var(--green) solid 8px;
  border: none;
  background-color: transparent;
  border-radius: 0.5px;
  transition: all 3ms;
}

.btn-green:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px 2px var(--green);
}

.btn-black {
  background-color: var(--black);
  border: none;
  border-radius: 0.5px;
}

.btn-black-outline {
  outline: var(--black) solid 8px;
  border: none;
  background-color: transparent;
  border-radius: 0.5px;
  transition: all 3ms;
}

.btn-black:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px 2px var(--black);
}

.menu-mobile-button {
  background-color: transparent;
  color: var(--white);
  border: none;
}

/* GENERAL UI */

/* Nav Bar */
#nav-bar {
  position: absolute;
  z-index: 100000;
  width: 100%;
  background-color: var(--black);
  height: 80px;
}

#nav-bar:scrolled {
  background-color: var(--black);
}

#nav-bar div div div img {
  height: 50px;
}

.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--black);
  z-index: 9999;
}

.mobile-menu.show {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mobile-menu a,
.mobile-menu button {
  margin-bottom: 10px;
}